*.gtf
*.fa
*.gtf.gz
*.fa.gz
*.fastq
*.fastq.gz
notebooks*
*.ipynb
*DS_Store
pypi_push.sh
test*
xalign.egg*
*fasterq*
*outkallisto*
*.idx
fasterq/*
index/*
kallisto/*
kallisto.tar.gz
*ids.json
dist/*
data/*
xalign/data/kallisto
xalign/data/salmon
xalign/data/star*
xalign/data/outstar*
xalign/data/hisat2*
xalign/data/outhisat2*
xalign/data/subread*
xalign/data/index
*checkpoints*
*.parquet

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.swp
.DS_Store